.progressContainer {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.progressWrapper {
  width: 100%;
  background-color: #ddd;
  border-radius: 8px;
}

.progressBar {
  height: 30px;
  background-color: rgb(158, 136, 255);
  border-radius: 8px;
  padding: 1vw;
}
